<!doctype html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <script src="/js/chat.js" defer></script>
  </head>
  <body>
    <p>Hello, welcome to <%= name %></p>
   <%- include('auth/login') %> 
  </body>
</html>
